body {
    background-color: $bodyBGC;
}

.wrapper {
    background-color: $wrapperBGC;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h2 {
    margin-top: 20px;
}

#game-heading {
    text-align: center;
}

button {
    padding: 10px 30px;
    font-size: 2.5em;
}
