body {
    background-color: $bodyBGC;
}

.wrapper {
    background-color: $wrapperBGC;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3em;
}

p {
    text-align: center;
    font-size: 1.5em;
}

#game-heading {
    text-align: center;
}

button {
    padding: 10px 30px;
    font-size: 2.5em;
    @include button-style($buttonBGC, $headerBGC, 20px);

    &:hover{
        background-color: rgba(0, 0, 0, 0.486);
    }
}

.winner {
    background-color: $winnerColor;
}

.loser {
    background-color: $loserColor;
}
