#popup {
    display: none;
    background-color: rgb(185, 185, 185);
    padding: 25px;
    margin: auto;
    width: 35%;
    position: absolute;
    text-align: center;

    border: 2px solid black;

    left: 32%;
    top: 33%;
}