@charset "utf-8";

// Box Sizing Reset
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// Responsive Image Reset
img {
    max-width: 100%;
    height: auto;
}

// Body Reset
body {
    margin: 0;
}

// Typography Reset
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
} 